
@{
    ViewBag.Title = "Success";
}

<div class="modal fade modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            Your ticket was created successfully.
            A confirmation email has been sent.
        </div>
    </div>
</div>

