.well {
    text-align: left;
    font-size: 25px;
    background-color: #f0f0f0;
}

#wellheader {
    background-color: #f0f0f0;
    margin-bottom: 0;
    width: 100px;
    border: 2px solid #f0f0f0;
    border-radius: 2px;
    border-bottom: 0;
    padding: 8px;
}

.well-lg {
    overflow: auto;
    text-align: left;
    font-size: 13px;
    background-color: #f0f0f0;
    padding: 0;
    height: auto;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(images/bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.input-group {
    max-width: 310px;
}

#datebtn {
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    background-color: ghostwhite;
}

input.form-block,
select.form-block,
textarea.form-block {
    max-width: none;
}

#rc-imageselect, #recaptcha {
    transform: scale(0.93);
    -webkit-transform: scale(0.93);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

@media screen and (max-width: 324px) {
    #rc-imageselect, #recaptcha {
        transform: scale(0.85);
        -webkit-transform-origin: 0 0;
        -webkit-transform: scale(0.85);
        transform-origin: 0 0;
    }
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    25% {
        height: 0;
        width: 10px;
    }

    50% {
        height: 20px;
        width: 10px;
    }
}

.checkbox {
    background-color: #fff;
    height: 28px;
    float: right;
    width: 28px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

    .checkbox span {
        transform: translateX(-75%) translateY(-28%);
        display: block;
        height: 28px;
        position: relative;
        width: 28px;
    }

        .checkbox span:after {
            -moz-transform: scaleX(-1) rotate(135deg);
            -ms-transform: scaleX(-1) rotate(135deg);
            -webkit-transform: scaleX(-1) rotate(135deg);
            transform: scaleX(-1) rotate(135deg);
            -moz-transform-origin: left top;
            -ms-transform-origin: left top;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-right: 4px solid #fff;
            border-top: 4px solid #fff;
            content: '';
            display: block;
            height: 20px;
            left: 3px;
            position: absolute;
            top: 15px;
            width: 10px
        }

    .checkbox input {
        display: none;
    }

        .checkbox input:checked + span:after {
            -webkit-animation: check .5s;
            -moz-animation: check .5s;
            -o-animation: check .5s;
            animation: check .5s;
            border-color: #555;
        }

        .checkbox input:checked + .success:after {
            border-color: #8bc34a;
        }

.list-group-item {
    max-width: 280px;
    padding: .6em 1em;
    height: 3.2em;
}

tr {
    background: white;
}

    tr:nth-of-type(odd) {
        background: #e5e5e5;
    }

th {
    background: #444;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #c1c1c1;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

.tabcontent {
    display: none;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#searchBox {
    position: absolute;
    margin-top: 8px;
    margin-left: 220px;
}

#searchIcon {
    position: absolute;
    transform: translate(-22px, 7px);
}

#searchContact {
    width: 200px;
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
}

@media screen and (max-width: 472px) {
    #searchBox {
        position: relative;
        transform: translate(-220px, -3px);
    }
}

.tabTools button {
    display: none;
    width: 70px;
    height: 48px;
    background-color: inherit;
    position: relative;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

    .tabTools button:hover {
        background-color: #ddd;
    }

#editContactBtn {
    margin-right: 10px;
    padding-left: 4px;
}

#deleteContactBtn {
    padding-right: 4px;
}

a:link {
    margin: 0;
    text-decoration: none;
    outline: none;
}
