@model IEnumerable<Driftservice_Registration.Models.AdminVM>

@{
    ViewBag.Title = "Administration";
}

<div class="well">
    Driftservice - Administration
</div>

<div class="input-group" id="searchBox">
    @Html.TextBox("searchContact", "", new { @class = "form-control", placeholder = "Sök kontakt.." })
    <span id="searchIcon" class="glyphicon glyphicon-search" aria-hidden="true"></span>
</div>

<div class="tab">
    <button class="tablinks" onclick="toggleTab(event, 'Kontakter')" id="defaultTab">Kontakter</button>
    <button class="tablinks" onclick="toggleTab(event, 'Tjänster'), tabTools(), GetServiceTypes()">Tjänster</button>
    <div class="tabTools">
        <button class="tablinks" title="Skapa ny" id="createBtn">
            <i class="fas fa-plus" aria-hidden="true" style="font-size: 30px; color: #86d167; transform: translateY(-3px);"></i>
        </button>
    </div>
</div>

<div id="Kontakter" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Förnamn
                    </th>
                    <th>
                        Efternamn
                    </th>
                    <th>
                        Företag
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Kontaktmetod
                    </th>
                    <th>
                        KontaktGuid
                    </th>
                    <th>
                        Språk
                    </th>
                    <th>
                        Datum
                    </th>
                    <th></th>
                </tr>
                <tbody class="cTable"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="Tjänster" class="tabcontent">
    <div class="well well-lg">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        ServiceTypeID
                    </th>
                    <th>
                        Beskrivning
                    </th>
                    <th>
                        Visa på sidan
                    </th>
                    <th></th>
                </tr>
                <tbody class="sTable"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Redigera Kontakt</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="FirstName">Förnamn</label>
                        <input type="text" class="form-control" id="" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for=""></label>
                        <input type="text" class="form-control" id="" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="" data-path="">Spara</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="modalText">Ändra Kontakt</h4>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Avbryt</button>
    <input class="btn btn-primary" type="submit" value="Spara" />
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/ajaxcrud.js")"></script>
    <script src="@Url.Content("~/Scripts/tabtoggle.js")"></script>
    <script src="@Url.Content("~/Scripts/search.js")"></script>
}